.App {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.main-container {
    margin-top: 5%;
}

.page-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
}

.form-control {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.ant-picker {
    align-items: flex-start;
}

.create-profile{
    margin-left: 5%;
    margin-right: 5%;
}

.back-button{
    margin-left: 5%;
    margin-right: 5%;
}