.App {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.main-container {
    margin-top: 5%;
}

.back-button {
    margin: 2%;
}

.page-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
}

.site-card-wrapper {
    margin: 5%;
}

.landing-cards {
    margin: 5%;
    width: 20em;
}

.cards {
    margin: 2%;
}